@font-face {
    font-family: myriadpro;
    src: url(../Beatles_Font/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: opensans;
    src: url(../Beatles_Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: oswald;
    src: url(../Beatles_Font/Oswald-Regular.ttf);
}






















